html, body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;

  font-family: 'Exo 2', sans-serif;
  /* font-family: 'Baloo Paaji', sans-serif; */
  font-size: 16px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}

header {
  padding: 0.25em 1em;
}
header div#title {
  font-size: 1.5em;
  font-weight: bold;
}

section {
  height: 12.5vh;
  overflow: hidden;
  border-top: 1px solid silver;
  padding: 0em 1em 0.2em 1em;
}

section > * {
  flex-shrink: 0;
}

section > .sectionlist {
  visibility: hidden;
}

section.active {
  flex:20;
  overflow-y: scroll;
}

section.active > .sectionlist {
  visibility: visible;
}

.sectiontitle {
  color: white;
  background: silver;
  font-size: 1.1em;
  padding: 0.25em 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
